@{
    ViewBag.Title = "Home Page";
}

@* Reference to AngularJS library -- this usually goes in the /Views/Shared/_Layout.cshtml razor template *@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script>
    var myApp = angular.module('documentsApp', []);
    myApp.controller('DocumentsController', function ($http, $scope) {

        $scope.items = [];
        $scope.countries = {};

        $scope.load = function () {
            $scope.items = [
                { Id: 1, Title: "A new approach to investing", CountryId: 1 }
            ];
            $scope.countries = {
                '1': 'US',
                '2': 'UK',
                '3': 'Germany',
                '4': 'Australia'
            };

            $http.post('/Documents/Get')
                .success(function successCallback(data) {
                    $scope.items = data;
                });

            $http.post('/Countries/Get')
                .success(function successCallback(data) {
                    $scope.countries = data;
                });
        };
        $scope.load(); // get list on initial page load



        // Save new item from form
        $scope.save = function (item) {
            console.log('Saving item:');
            console.log(item);

            //$scope.items.push(item);
            $http.post('/Documents/Save', item)
                .then(function successCallback(data) {
                    $scope.resetItem();
                    $scope.load();
                });
        };

        // Set up new item in form 
        $scope.resetItem = function() {
            $scope.newItem = { Id: 0, CountryId: '1' };
        }
        $scope.resetItem(); // initialize new item on page load
    });
</script>

<div ng-app="documentsApp">
    <div ng-controller="DocumentsController">

        <h2>Documents</h2>

        <!-- Step 1: Table of items -->
        <table ng-show="items.length > 0" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="d in items">
                    <td>{{d.Id}}</td>
                    <td>{{d.Title}}</td>
                    <td>{{countries[d.CountryId]}}</td>
                </tr>
            </tbody>
        </table>

        <!-- Step 2: Add form -->
        <form ng-submit="save(newItem)">
            <h3>Add Document</h3>

            <div>Title</div>
            <div>
                <input type="text" ng-model="newItem.Title" />
            </div>

            <div>Country</div>
            <div>
                <select ng-model="newItem.CountryId" ng-options="k as v for (k,v) in countries"></select>
            </div>

            <button class="btn btn-primary" type="submit">Save</button>
        </form>

    </div>
</div>